<h1 class="title">{{title}}</h1>


<div class="area-about">
    <p class="sub-title txt-col"> Hi, I'm Eunjin Ha </p>
    <h2 class="sub-about">I have worked as a Software engineer, 
        not only in web programming but also in Android applications. 
        And currently, I'm studying to improve my skills at Georgian College, Barrie, Canada.
        Also, I love to face a new challenge this is because I can learn a lot of things through those experiences 
        and I believe that learning something new opens a door for many opportunities.</h2>
</div>