{{!-- References
3 row divs : https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_three_columns
--}}
<h1 class="title">{{title}}</h1>

<div class="area-project">
    <div class="row">
        <div class="column">
            <h2 class="txt-mid txt-col">Front-end Developer</h2>
            <p class="txt-sm "> Cryptocurrency Trading Web Page</p>
            <p class="txt-sm "> English Education Web Page</p>
            <p class="txt-sm "> English Education Mobile </p>
            <p class="txt-sm txt-col">Developed with</p>
            <ul class="txt-sm">
                <li>HTML</li>
                <li>CSS</li>
                <li>PHP</li>
                <li>Vue.js</li>
                <li>Node.js</li>
                <li>MySQL</li>
                <li>JavaScript</li>                
            </ul>
        </div>
        <div class="column"> 
            <h2 class="txt-mid txt-col">Back-end Developer</h2>
            <p class="txt-sm "> Cryptocurrency Trading System</p>
            <p class="txt-sm "> Cross-bowser Test</p>
            <p class="txt-sm "> Tournument System</p>

            <p class="txt-sm txt-col">Developed with</p>
            <ul class="txt-sm">
                <li>IIS 7</li>
                <li>.Net Framwork 4.5</li>
                <li>MS-SQL</li>
                <li>ASP.NET</li>
                <li>C#</li>  
                <li>ASP</li>                
            </ul>
        </div>
         <div class="column"> 
            <h2 class="txt-mid txt-col">Android</h2>
            <p class="txt-sm "> Adevertising App</p>
            <p class="txt-sm "> Education App</p>
            <p class="txt-sm "> FIFA Online App</p>
            <p class="txt-sm txt-col">Developed with</p>
            <ul class="txt-sm">
                <li>Java</li>
                <li>PHP</li>
                <li>My-SQL</li>
                <li>ASP.NET</li>
                <li>C#</li>  
                <li>ASP</li>                
            </ul>
        </div>
    </div>
</div>